/*
Here is a comment.
selector {
property: value;
}
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  background-color: hsla(200,90%,10%,.9);
  background-image: url('i/ethicslab.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position: 0 50%;
  background-repeat: no-repeat;
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  color: rgba(0,0,0,.825);
  position:relative;
}

img {
  max-width: 100%;
  width: auto;
}

figure {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2,
h3 {
  margin-bottom:0;
}

h3 {
  font-size: 1rem;
}

h2 + p,
h3 + p {
  margin-top: 1rem;
}

p + h2,
p + h3 {
  margin-top: 3rem;
  line-height: 1.25;
}

hr {
  border:0;
  height: 3px;
  background: rgba(0,0,0,0.1);
  width: 30px;
  margin: 3rem auto;
}

figure.quote {
  margin: 3rem 0;
  font-style:italic;
  color: rgba(0,0,0,.7);
  font-size: .8rem;
  border-left: .25rem solid rgba(0,0,0,.125);
  padding-left: 1rem;
}

.quote blockquote {
  margin-left:0;
}

.quote figcaption {
  font-style:normal;
}

.quote figcaption p:before {
  content: "—";
  color: rgba(0,0,0,.25);
}

header {
  background-color: hsla(210,70%, 7%,.875);
  padding: 2rem 0 0;
}

header h1 {
  font-size: 1rem;
  margin:0;
}

header a,
header a:link {
  text-decoration:none;
  color: white;
  color: rgba(255,255,255,.9);
}

#global-navigation,
#courtesy-navigation{
  font-size: .8rem;
  padding: 1rem 0 2rem;
  background-color: hsla(210,70%, 7%,.875);
  color: #ccc;
  color: rgba(255,255,255,.325);

}

#global-navigation  a,
#courtesy-navigation a {
  text-decoration:none;
}

#global-navigation  a:link,
#global-navigation  a:visited,
#courtesy-navigation a:link,
#courtesy-navigation a:visited {
  color: white;
  color: rgba(255,255,255,.9);
}

#global-navigation  a:hover,
#global-navigation  a:focus,
#courtesy-navigation a:hover,
#courtesy-navigation a:focus {
  color: white;
  color: rgba(255,255,255,.9);
}

#global-navigation  a:active,
#courtesy-navigation a:active {
  color: white;
  color: rgba(255,255,255,.9);
}

#global-navigation span:before,
#global-navigation span:after {
  content: " | ";
  padding: 0 .5rem;
}

#global-navigation span a + a:before {
  content: " · ";
  padding: 0 .125rem;
  color: #ccc;
  color: rgba(255,255,255,.325);
}

#courtesy-navigation {
  position:absolute;
  font-size: .7rem;
  top:0;
  right:30px;
  background-color: transparent;
}

#main {
  padding: 30px;
  background: white;
  background: rgba(255,255,255,.95);
}

#banner,
#global-navigation {
  padding-left: 30px;
  padding-right: 30px;
}

.locations {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.locations a {
  width: 48%;
  margin-bottom: 2rem;
  text-decoration:none;
  background: rgba(0,0,0,0.125);
  padding: 1rem;
}

#graphic {
  margin: -30px -30px 40px;
  background: rgba(190,230,230,.75);
}

#graphic svg {
  height: 20vh;
  min-height: 100px;
  width: 100%;
  margin:0;
}

footer {
  display:block;
  background: #333;
  padding: 30px;
  color: white;
}

/* Utility Classes */
.audible {
  border: 0;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gallery, .gallery-list {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.gallery-list {
  display:block;
}

.frames-for-work #facet-media {
  float:none;
  width: 100%;
}

.frames-for-work .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frames-for-work .gallery:after {
  content: ' ';
  width: 100px;
  height: 3px;
  margin: 5rem auto 5rem;
  background: rgba(0,0,0,0.25);
}

.gallery .content,
.gallery-list .content,
.media-list .content {
  display:none;
}


.frames-for-work .gallery .content {
  display:block;
  width: 49%;
  margin-bottom: 1rem;
}

.fa {
  display:inline-block;
  color: white;
  color: hsla(0,100%,100%,.9);
  background: hsla(0,0%,0%,.75);
  border-radius: 50%;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  line-height: 2;
  text-align: center;
}

.frames-for-work .fa,
.vex .fa {
  display:none;
}

#works-cited p {
  margin-left: 2rem;
  text-indent: -2rem;
}


.vex.vex-theme-os .vex-content {
  width: 700px;
}

@media screen and (min-width: 700px) {

  body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    overflow:hidden;
    zoom: 1;
  }
  
  main > .content,
  main > .summary {
    float:left;
    width: 60%;
  }

  main > .content p:first-child {
    margin-top:0;
  }
  
  .frames-for-work main > .content {
    float:none;
    width: 100%;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  
  .gallery,#facet-media {
    float:right;
    width: 38%;
  }
  
}
