/*
Here is a comment.
selector {
property: value;
}
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  background-color: hsla(200,90%,10%,.9);
  background-image: url('i/ethicslab.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position: 0 50%;
  background-repeat: no-repeat;
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  font-weight: 300;
  color: rgba(0,0,0,.825);
  margin: 20px;
}

img {
  max-width: 100%;
  width: auto;
}

figure {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.175);
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2,
h3 {
  margin-bottom:0;
}

h3 {
  font-size: 1rem;
}

h2 + p,
h3 + p {
  margin-top: 1rem;
}

p + h2,
p + h3 {
  margin-top: 3rem;
  line-height: 1.25;
}

hr {
  border:0;
  height: 3px;
  background: rgba(0,0,0,0.1);
  width: 30px;
  margin: 3rem auto;
}

figure.quote {
  margin: 3rem 0;
  font-style:italic;
  color: rgba(0,0,0,.7);
  font-size: .8rem;
  border-left: .25rem solid rgba(0,0,0,.125);
  padding-left: 1rem;
}

.quote blockquote {
  margin-left:0;
}

.quote figcaption {
  font-style:normal;
}

.quote figcaption p:before {
  content: "—";
  color: rgba(0,0,0,.25);
}

header {
  background-color: hsla(210,70%, 7%,.875);
  padding: 2rem 0 0;
}

header h1 {
  font-size: 1rem;
  margin:0;
}

header a,
header a:link {
  text-decoration:none;
  color: white;
  color: rgba(255,255,255,.9);
}

nav {
  font-size: .8rem;
  padding: 1rem 0 2rem;
  background-color: hsla(210,70%, 7%,.875);
}

nav a + a:before {
  content: " / ";
  padding: 0 .25rem;
  color: #ccc;
  color: rgba(255,255,255,.325);

}

nav a {
  text-decoration:none;
}

nav a:link,
nav a:visited {
  color: white;
  color: rgba(255,255,255,.9);
}

nav a:hover,
nav a:focus {
  color: white;
  color: rgba(255,255,255,.9);
}

nav a:active {
  color: white;
  color: rgba(255,255,255,.9);
}


#main {
  padding: 40px 60px;
  background: white;
  background: rgba(255,255,255,.95);
}

#banner,
#global-navigation {
  padding-left: 60px;
  padding-right: 60px;
}

/* Utility Classes */
.audible {
  border: 0;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gallery {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.frames-for-work .gallery:after {
  content: ' ';
  width: 100px;
  height: 3px;
  margin: 0 auto 3rem;
  background: rgba(0,0,0,0.25);
}
.gallery .content {
  display:none;
}


.frames-for-work .gallery .content {
  display:block;
  margin-bottom: 3rem;
}

.fa {
  display:inline-block;
  color: white;
  color: hsla(0,100%,100%,.9);
  background: hsla(0,0%,0%,.75);
  border-radius: 50%;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  line-height: 2;
  text-align: center;
}

.frames-for-work .fa {
  display:none;
}

#works-cited p {
  margin-left: 2rem;
  text-indent: -2rem;
}


@media screen and (min-width: 800px) {

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

}
