<!DOCTYPE html>
<html lang="en" class="{% if page.url == '/' %}home{% else %}{{ page.url | slugify }}{% endif %}">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
<script src="https://use.fontawesome.com/0f21921284.js"></script>
<script src="{{ site.baseurl }}/vex/js/vex.combined.min.js"></script>
{% if page.d3 %}
<script src="http://d3js.org/d3.v3.min.js"></script>
{% endif %}
<script>vex.defaultOptions.className = 'vex-theme-os'</script>
<link rel="stylesheet" href="{{ site.baseurl }}/vex/css/vex.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/vex/css/vex-theme-os.css" />
<link href="https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans:300,400,800" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<a href="#main" class="audible">Skip to main content</a>
<header role="banner" id="banner">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
</header>
<nav id="global-navigation">
  <a id="link-intro" href="{{ site.baseurl }}/introduction/">Introduction</a>
  <a id="link-frames-for-work" href="{{ site.baseurl }}/frames-for-work/">Frame(s for) Work</a>
  <a id="link-high-impact" href="{{ site.baseurl }}/high-impact/">High Impact</a>
  <a id="link-collaboration" href="{{ site.baseurl }}/collaboration/">Collaboration</a>
  <a id="link-diy-learning" href="{{ site.baseurl }}/diy-learning/">DIY Learning</a>
  <a id="link-ecological" href="{{ site.baseurl }}/ecological/">Ecological</a>
  <a id="link-conclusions" href="{{ site.baseurl }}/conclusions/">Conclusions</a>
  <a id="link-works-cited" href="{{ site.baseurl }}/works-cited">Works Cited</a>
  <a id="link-sites" href="{{ site.baseurl }}/sites">Sites</a>
</nav>
<main role="main" id="main">
{{ content }}
</main>
</html>
