<!DOCTYPE html>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
<link rel="stylesheet" href="/styles.css">
<a href="#main" class="audible">Skip to main content</a>
<header role="banner" id="banner">
  <h1>{{ site.title }}</h1>
</header>
<nav id="global-navigation">
  <a id="link-intro" href="/index.html">Introduction</a>
  <a id="link-frames-for-work" href="/frames-for-work.html">Frame(s for) Work</a>
  <a id="link-high-impact" href="/high-impact.html">High Impact</a>
  <a id="link-collaboration" href="/collaboration.html">Collaboration</a>
  <a id="link-diy-learning" href="/diy-learning.html">DIY Learning</a>
  <a id="link-ecological" href="/ecological.html">Ecological</a>
  <a id="link-conclusions" href="/conclusions.html">Conclusions</a>
</nav>
<main role="main" id="main">
{{ content }}
</main>
