---
layout: default
---
<h1>{{ page.title }}</h1>
<p><strong>{{ page.institution }}</strong>
{% if page.url %} · <a href="{{ page.program_url }}">Program Website</a>
{% endif %}
</p>
<div class="summary">
{{ content }}
</div>
<ul id="facet-media" class="gallery-list">
  {% for record in site.data.media %}
  {% if record.location == page.location %}
    {% capture tags %}
      {{ record.tag1 }},{{ record.tag2 }},{{ record.tag3 }}
    {% endcapture %}

    {% capture mediafile %}
    {% if record.type == 'Image' %}
      <img src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.jpg" alt="">
    {% endif %}
    {% if record.type == 'Audio' %}
      <audio controls src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.wav"></audio>
    {% endif %}
    {% if record.type == 'Text' %}
    <object data="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf" type="application/pdf" width="100%" height="700px"></object>

      <a href="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf">{{ record.caption }}</a>
    {% endif %}
    {% endcapture %}

    {% capture mediaicon %}
      {% if record.type == 'Image' %}
        <i class="fa fa-picture-o"></i>
      {% endif %}
      {% if record.type == 'Audio' %}
      <i class="fa fa-headphones" aria-hidden="true"></i>
      {% endif %}
      {% if record.type == 'Text' %}
      <i class="fa fa-file-pdf-o"></i>
      {% endif %}
    {% endcapture %}
    <li>
      {{ mediaicon }} <strong>{{ record.caption }}</strong>

    <div class="content">
      {{ mediafile }}
      <div class="description">
        <em class="eyebrow">{{ tags }}</em>
      <p>{{ record.alternative_text }}</p>
      </div>
    </div>
    </li>
  {% endif %}
{% endfor %}
</ul>

<script>
function isWhitespace(node) {
    return node.nodeType == 3 && /^\s*$/.test(node.data);
}

var items = document.querySelectorAll('#facet-media li');

for (var i=0;i<items.length;i++) {
  items[i].addEventListener('click', function() {
      contents = this.innerHTML;
      vex.dialog.alert({content: '',unsafeMessage: contents});
    });
}

</script>
