---
layout: default
---
<h1>{{ page.title }}</h1>
<p><strong>{{ page.institution }}</strong>
{% if page.url %} · <a href="{{ page.program_url }}">Program Website</a>
{% endif %}
</p>
<div class="summary">
{{ content }}
</div>

{% assign location_media = site.data.media | where: "location", page.location %}
{% assign images = location_media | where: "type","Image" %}
{% assign audios = location_media | where: "type","Audio" %}
{% assign texts = location_media | where: "type","Text" %}
<div id="facet-media">
<h2>Images</h2>
<ul class="media-list">
  {% for record in images %}

    {% capture mediafile %}
      <img src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.jpg" alt="">
    {% endcapture %}
    <li>
      {{ mediaicon }} <strong>{{ record.caption }}</strong>

    <div class="content">
      {{ mediafile }}
      <div class="description">
        <em class="eyebrow">{{ tags }}</em>
      <p>{{ record.alternative_text }}</p>
      </div>
    </div>
    </li>
{% endfor %}
</ul>

<h2>Audio</h2>
<ul class="media-list">
  {% for record in audios %}
    {% capture mediafile %}
      <audio controls src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.wav"></audio>
    {% endcapture %}
    <li>
      {{ mediaicon }} <strong>{{ record.caption }}</strong>

    <div class="content">
      {{ mediafile }}
      <div class="description">
        <em class="eyebrow">{{ tags }}</em>
      <p>{{ record.alternative_text }}</p>
      </div>
    </div>
    </li>
{% endfor %}
</ul>

<h2>Texts</h2>
<ul class="media-list">
  {% for record in images %}
    {% capture mediafile %}
    <object data="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf" type="application/pdf" width="100%" height="700px"></object>
      <a href="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf">{{ record.caption }}</a>
    {% endcapture %}
    <li>
      {{ mediaicon }} <strong>{{ record.caption }}</strong>

    <div class="content">
      {{ mediafile }}
      <div class="description">
        <em class="eyebrow">{{ tags }}</em>
      <p>{{ record.alternative_text }}</p>
      </div>
    </div>
    </li>
{% endfor %}
</ul>

</div>


<script>
function isWhitespace(node) {
    return node.nodeType == 3 && /^\s*$/.test(node.data);
}

var items = document.querySelectorAll('#facet-media li');

for (var i=0;i<items.length;i++) {
  items[i].addEventListener('click', function() {
      contents = this.innerHTML;
      vex.dialog.alert({content: '',unsafeMessage: contents});
    });
}

</script>
