---
layout: default
---
{% if page.d3 %}
  <div id="graphic"></div>
{% endif %}

<h1>{{ page.title }}</h1>

<div id="facet-media" class="gallery">
  {% if page.tag == 'DIY' %}
    <div id="featured">
      <a href="/assets/1_Georgetown_EthicsLab_https_ethicslab.georgetown.edu_Dhillon_High_Impact_DIY.jpg"><img src="/assets/1_Georgetown_EthicsLab_https_ethicslab.georgetown.edu_Dhillon_High_Impact_DIY.jpg" alt=""></a>
      <strong>"The Squiggle"</strong>
    </div>
  {% endif %}
  {% for record in site.data.media %}
    {% capture tags %}
      {{ record.tag1 }},{{ record.tag2 }},{{ record.tag3 }}
    {% endcapture %}

    {% capture mediafile %}
    {% if record.type == 'Image' %}
      <img src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.jpg" alt="">
    {% endif %}
    {% if record.type == 'Audio' %}
      <audio controls src="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.wav"></audio>
    {% endif %}
    {% if record.type == 'Text' %}
    <object data="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf" type="application/pdf" width="100%" height="700px"></object>

      <a href="{{ site.baseurl }}/assets/{{ record.name | remove: '/' | replace: ':','_' | replace: ' ','_' }}.pdf">{{ record.caption }}</a>
    {% endif %}
    {% endcapture %}

    {% capture mediaicon %}
      {% if record.type == 'Image' %}
        <i class="fa fa-picture-o"></i>
      {% endif %}
      {% if record.type == 'Audio' %}
      <i class="fa fa-headphones" aria-hidden="true"></i>
      {% endif %}
      {% if record.type == 'Text' %}
      <i class="fa fa-file-pdf-o"></i>
      {% endif %}
    {% endcapture %}

    {% if tags contains page.tag %}
    {{ mediaicon }}
    <div class="content">
      {{ mediafile }}
      <div class="description">
        {% if record.type != 'Text' %}
        <p>{{ record.caption }}</p>
        {% endif %}
        <p>{{ record.alternative_text }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>

<div class="content">
  {{ content }}
</div>

<script>
function isWhitespace(node) {
    return node.nodeType == 3 && /^\s*$/.test(node.data);
}

var items = document.querySelectorAll('#facet-media i');

for (var i=0;i<items.length;i++) {
  items[i].addEventListener('click', function() {
    next = this.nextSibling;
    if (next && isWhitespace(next)) {
        next = next.nextSibling;
    }
    if (next && next.nodeName == "DIV") {
        contents = next.innerHTML;
        vex.dialog.alert({content: '',unsafeMessage: contents});
    }
  });
}

</script>
